body {
  background: #efefef;
  padding-top: 50px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #007dcc;
  z-index: 999;
}
header #logo {
  float: left;
  width: 210px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
  background: #009cff;
  z-index: 999;
  box-sizing: border-box;
  padding: 0 20px;
}
header #logo .glyphicon {
  top: 4px;
  margin-right: 10px;
}
header .inner {
  margin-left: 210px;
}
header .inner .btn-default {
  font-size: 12px;
  width: 50px;
  color: #fff;
  background: #009cff;
  border-color: #80cdff;
  border-width: 2px;
}
header .inner .btn-group .btn + .btn,
header .inner .btn-group .btn + .btn-group,
header .inner .btn-group .btn-group + .btn,
header .inner .btn-group .btn-group + .btn-group {
  margin-left: -2px;
}
header .inner #editor-buttons {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  padding: 7px 30px;
  background: #008ce6;
}
header .inner #view-buttons {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  padding: 7px 30px;
  background: #007dcc;
  border-left: 1px solid #0077c2;
}
#toc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 210px;
  height: 100%;
  background: #222a30;
  padding-top: 50px;
}
#toc ul {
  margin: 0;
  padding: 0;
}
#toc ul > li {
  list-style: none;
}
#toc ul > li:first-child > a {
  color: #fff;
  background: #283239;
}
#toc ul > li:first-child > a > i {
  background: #3e6c62;
  border-bottom: 1px solid #68a89a;
}
#toc ul > li > a {
  color: #95e9d6;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 1px solid #2d373f;
}
#toc ul > li > a > i {
  float: right;
  top: 0;
  width: 41px;
  height: 41px;
  color: #fff;
  font-style: normal;
  line-height: 41px;
  text-align: center;
  background: #02b68e;
  border-bottom: 1px solid #02cfa2;
  margin: -10px -20px -10px 0;
}
#toc ul > li > a > i.muted {
  background: #018467;
}
#toc ul > li > a .arrow_box {
  position: relative;
  background: #02b68e;
}
#toc ul > li > a .arrow_box:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(2, 182, 142, 0);
  border-left-color: #02b68e;
  border-width: 7px;
  margin-top: -7px;
  z-index: 9999;
}
#toc ul > li > ul {
  position: fixed;
  top: 0;
  left: 210px;
  z-index: 99;
  overflow: auto;
  width: 210px;
  height: 100%;
  background: #222a30;
  border-left: 1px solid #2d373f;
  padding-top: 50px;
}
#main {
  position: relative;
  top: 0;
  height: 500px;
  margin-left: 210px;
  border: 1px solid red;
}
#main #editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background: #fff;
}
#main #editor h1:first-child {
  margin-top: 0;
}
#main #page {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background: #fff;
  border-left: 1px solid #ddd;
  padding: 25px;
}
#main #page h1:first-child {
  margin-top: 0;
}
#main #page.fullScreen {
  position: static;
  width: 100%;
}
.ace_editor {
  height: 100%;
}
.general-information {
  display: none;
}
.newStep {
  display: none;
}
