.box {
  color: #cfc9c9;
  border-color: #ffffff;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
textarea {
  border: none;
  padding: 5px;
  width: 100%;
  height: 250px;
  overflow: auto;
}
