body {
  background: #fff;
}
#toc {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 250px;
  height: 100%;
  background: #222a30;
  padding: 20px;
}
#toc ul {
  margin: 0;
  padding: 0;
}
#toc ul li {
  list-style: none;
}
#toc ul li ul > li > a {
  padding-left: 20px;
}
#toc ul li a {
  color: #97cff2;
  display: block;
  text-decoration: none;
  padding: 7px 0;
  border-bottom: 1px solid #283239;
}
#toc > ul {
  margin-bottom: 15px;
}
#toc > ul > li > a {
  font-size: 1.2em;
}
#page {
  background: #fff;
  margin-left: 250px;
  padding: 30px;
}
