<div class="well">
   <span>User: {{data.user}} -Date: {{data.date}} Type: {{data.type}}</span>
   <label>{{data.lable}}</label>
   <p>{{output}}</p>

   <div ng-if="data.type == 'radio'">
      <div class="btn-group" ng-model="data.value" bs-radio-group>
       <label class="btn btn-default" ng-repeat="entry in data.expectedValue">
         <input type="radio" class="btn btn-default" value="{{$index}}"> {{entry}}
       </label>
      </div>
   </div>

   <div ng-if="data.type == 'Checkbox'">
      <div class="btn-group" ng-model="data.value" bs-checkbox-group>
       <label class="btn btn-default" ng-repeat="entry in data.expectedValue">
         <input type="checkbox" class="btn btn-default" value="entry"> {{entry}}
       </label>
      </div>
   </div>


<!-- expectedValue should not be default !!! TODO  -->
   <div ng-if="data.type == 'range'">
      <div class="btn-group">
       <label class="btn btn-default" ng-model="data.value" ng-repeat="entry in data.expectedValue">
         <input ng-minlength="entry.minValue" ng-maxlength="entry.maxValue" type="number" value="{{entry.value}}">
         Expected value {{entry.expectedValue}} [UNIT]
       </label>
      </div>
   </div>
</div>

