<section id="logo">
   <a ui-sref="app"><i class="glyphicon glyphicon-tasks"></i> methods.io</a>
</section>
<div class="inner">
   <div id="editor-buttons">
      <div class="btn-group hide">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-header"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-font"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-bold"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-italic"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-right"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon glyphicon-list"></i></button>
      </div>
   </div>
   <div id="view-buttons">
      <div class="btn-group pull-right">
         <button ng-click="toggelEditor();" type="button" class="btn btn-default"><i class="glyphicon glyphicon glyphicon-eye-open
"></i></button>
         <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i></button>
      </div>
   </div>
</div>
