<header>
   <section id="logo">
      <i class="glyphicon glyphicon-tasks"></i> methods.io
   </section>
   <div class="inner">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-header"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-font"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-bold"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-italic"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-right"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon glyphicon-indent-left"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon glyphicon-list"></i></button>
      </div>
      <div class="btn-group pull-right">
         <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i></button>
      </div>
   </div>
</header>
<aside id="toc">
  <ul>
    <li><a href="#">Theory &amp; Setup <i class="glyphicon glyphicon-chevron-down"></i></a></li>
    <li><a href="#">Abstract <i class="muted">-</i></a></li>
    <li><a href="#">Introduction <i>10</i></a></li>
    <li><a href="#">Equipment <i>35</i></a></li>
    <li><a href="#">Material <i>22</i></a></li>
  </ul>
  <ul>
    <li><a href="#">Process <i class="glyphicon glyphicon-chevron-down pull-right"></i></a></li>

    <li ng-repeat="processgroup in data.procedure">
      <a class="active" href="" ng-click="leo('.grp'+$index,'hide')" > {{processgroup.processGroupTitle}} <i class="arrow_box">{{processgroup.processSteps.length}}</i>
      </a>
      <ul class="grp{{$index}} hide" id="pro-grp{{$index}}" >
         <li ng-repeat="processStep in processgroup.processSteps"><a href="">{{$index +1 }} - {{processStep.title}}</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="main">
   <section id="editor" >
   <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="md"></ui-codemirror>


   </section>
   <section id="page" ng-bind-html="md | markdown"> </section>
</div>
