<header>
   <section id="logo">
      <i class="glyphicon glyphicon-tasks"></i> methods.io
   </section>
   <div class="inner">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-header"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-font"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-bold"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-italic"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-right"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon glyphicon-indent-left"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon glyphicon-list"></i></button>
      </div>
      <div class="btn-group pull-right">
         <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i></button>
      </div>
   </div>
</header>
<aside id="toc">
  <ul>
    <li><a href="#">Theory &amp; Setup <i class="glyphicon glyphicon-chevron-down"></i></a></li>
    <li><a href="#">Abstract <i class="muted">-</i></a></li>
    <li><a href="#">Introduction <i>10</i></a></li>
    <li><a href="#">Equipment <i>35</i></a></li>
    <li><a href="#">Material <i>22</i></a></li>
  </ul>
  <ul>
    <li><a href="#">Process <i class="glyphicon glyphicon-chevron-down pull-right"></i></a></li>
    <li><a class="active" href="#">Process Group 01 <i class="arrow_box">9</i></a>
      <ul>
         <li><a href="#">Step 01</a></li>
         <li><a href="#">Step 02</a></li>
         <li><a href="#">Step 03</a></li>
         <li><a href="#">Step 04</a></li>
         <li><a href="#">Step 05</a></li>
         <li><a href="#">Step 06</a></li>
         <li><a href="#">Step 07</a></li>
         <li><a href="#">Step 08</a></li>
         <li><a href="#">Step 09</a></li>
      </ul>
    </li>
    <li><a href="#">Process Group 02 <i>39</i></a></li>
  </ul>
</aside>
<section id="page">
  <h1>Abstract</h1>
  <div class="hide" editable-textarea="data.abstract" ng-model="data.abstract" e-rows="10" e-cols="155" ng-bind-html="data.abstract | markdown" ></div >
  <h1>Introduction</h1>
  <div class="hide" editable-textarea="data.introduction" ng-model="data.introduction" e-rows="10" e-cols="155"  ng-bind-html="data.introduction | markdown" ></div >
  <h1>Equipment</h1>
  <ul class="hide">
    <li ng-repeat="equipment in data.equipment" editable-text="equipment" ng-model="equipment" >
        {{equipment}}
     </li>
  </ul>
</div ng-click="editor(this);">

  <h1>Materials</h1>
  <ul>
    <li ng-repeat="material in data.materials" editable-text="material" ng-model="material">
        {{material}}
    </li>
  </ul>
  <div class="box" ng-repeat="processgroup in data.procedure">
    <h2 editable-text="processgroup.processGroupTitle" ng-model="processgroup.processGroupTitle">{{processgroup.processGroupTitle}}</h2>
    <hr>

      <div class="box" ng-repeat="processStep in processgroup.processSteps">
        <h3 editable-text="processStep.title" ng-model="processStep.title">{{processStep.title}}</h3>
        <div editable-textarea="processStep.context" e-rows="5" e-cols="100" ng-model="processStep.context" ng-bind-html="processStep.context | markdown"></div>
        <div editable-textarea="processStep.highlights"  e-rows="5" e-cols="155" ng-model="processStep.highlights" ng-bind-html="processStep.highlights | markdown"></div>
        <div editable-textarea="processStep.critical"  e-rows="5" e-cols="155" ng-model="processStep.critical" ng-bind-html="processStep.critical | markdown"></div>
        <div editable-textarea="processStep.safty"  e-rows="5" e-cols="155" ng-model="processStep.safty" ng-bind-html="processStep.safty | markdown"></div>
        <div editable-textarea="processStep.behavior"  e-rows="5" e-cols="155" ng-model="processStep.behavior" ng-bind-html="processStep.behavior | markdown"></div>
         <!-- Create an directive for the imput type see /app/views/directives/userValue.html -->
        <user-value ng-model="processStep.userInput" user-input="processStep.userInput" ></user-value>

      </div>
  </div>
</section>
